/* HEADER ========================================= */
nav {
    background-image: $gradient-color;
    box-shadow: $shadow;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}
.nav-dark {
    background-image: linear-gradient(to right, #060b17, #060b17);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0 $standard;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .logo {
        padding: 0.5em 0;
    }
}

/* MAIN    ========================================= */
main {
    margin-top: 4em;
    margin-bottom: 0;
}

.mainbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1.5625em 0 4em 0; 
}

.task-list {
    width: 100%;
    padding: $standard;

    .cardTop {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 $standard;
        border-radius: 1.5em;

        button {
            display: block;
            padding: .5em 1em;
            font-size: $font-size1;
            color: $main-bg-color;
            border: none;
            margin: 0.625em 0;
            border-radius: 1.5em;
            cursor: pointer;
            transition: transform .3s ease;
        
            &:hover {
                transform: scale(1.1);
            }

            &:after {
                content: '';
                display: block;
                margin: auto;
                height: 0.125em;
                width: 0px;
                background: transparent;
                transition: width .5s ease, background-color .5s ease;
              }
              &:hover:after {
                width: 100%;
                background: $main-bg-color;
              }
        }
    }
}

@include list(1);
@include list(2);
@include list(3);

.task {
    background-color: $card-color;
    margin: 1.25em auto;
    padding: $standard $standard 0 $standard;
    box-shadow: $shadow;
    border-radius: .5em;
    transition: all .3s ease;

    &:hover {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        transform: scale(1.05);
    }
}

.date {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    border-bottom-width: 0; // for Safari
    border-right-width: 0; // for Safari
    border-left-width: 0; // for Safari
    border-top-width: 0.0625em;
    border-top-style: solid;
    border-image-source: $gradient-color;
    border-image-slice: 1;

    img {
        margin: 1.55em 1em;
    }

    button {
        font-size: $font-size1;
        color: $main-bg-color;
        border: none;
        margin: 1em 0.5em;
        border-radius: 1.5em;
        cursor: pointer;
        transition: transform 300ms ease;

        &:nth-of-type(1) {
            padding: .5em 1.7em;
            background: linear-gradient( to left, $edit-color 50%, $primary-color 50% );
            background-size: 220% 100%;
            background-position: right bottom;
            box-shadow: $edit-shadow;
            transition: all .5s ease;
        }

        &:nth-of-type(2) {
            padding: .5em 1em;
            background: linear-gradient( to left, $delete-color 50%, $error-color 50% );
            background-size: 220% 100%;
            background-position: right bottom;
            box-shadow: $delete-shadow;
            transition: all .5s ease;
        }

        &:nth-of-type(1):hover {
            background-position: left bottom;
            box-shadow: 0 8px 8px -6px $primary-color;
            transform: scale(1.1);
        }

        &:nth-of-type(2):hover {
            background-position: left bottom;
            box-shadow: 0 8px 8px -6px $error-color;
            transform: scale(1.1);
        }
    }
}

/* FOOTER ========================================== */
footer {
    // background-color: $card-color;
    background-image: $gradient-color;
    box-shadow: $shadow;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 0;
    text-align: center;

    h3 {
        font-size: $font-size2 !important;
        color: $strong-color;
        border-left: 0 !important;
        padding-left: 0 !important;
    }
}
.footer-dark {
    background-image: linear-gradient(to right, #060b17, #060b17);

    h3 {
        color: #f0f3f5;
    }
}
