// -------------- Modal ------------------ //
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 6.5em; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-image: $gradient-color-opacity; 

    .modal-content {
        max-width: 1400px;
        width: 90%;
        @extend %center-element;
        background-color: rgba(255,255,255,0.5); 
        box-shadow: $shadow;
        border-radius: .5em;

        form {
            padding: 2em;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            input {
                margin: 0 0 1em;
                padding: .6em;
                background-color: $main-bg-color;
                border-radius: .5em;
                border: none;
                box-shadow: $shadow;
                font-size: $font-size1;
                color: $strong-color;
                line-height: 1.5em;

                &:required {
                    border: 0.0625em solid $error-color;
                    background-color: $error-bg;
                }
            }

            .error {
                width: 99%;
                margin: -1.5em auto 1em auto;
                padding: .6em;
                font-size: 80%;
                color: $main-bg-color;
                background-color: $error-color;
                -moz-box-sizing: border-box;
                box-sizing: border-box;

                .active {
                    padding: 0.3em;
                }
            }

            textarea {
                @extend input;
            }

            #listId {
                display: none;
            }

            .modalBottom {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;

                button {
                    width: 25%;
                    margin: 0 0 0 1em;
                    padding: 1em;
                    border-radius: 1.5em;
                    border: none;
                    font-size: $font-size1;
                    color: $main-bg-color;
                    cursor: pointer;
                    transition: transform 300ms ease;

                    &:disabled {
                        cursor: not-allowed !important;
                        opacity: 0.5 !important;
                    }
    
                    &:nth-of-type(1) {
                        background-color: $add-color;
                        box-shadow: $add-shadow;
                    }

                    &:nth-of-type(2) {
                        background-color: $add-color;
                        box-shadow: $add-shadow;
                    }
            
                    &:nth-of-type(3) {
                        background-color: $delete-color;
                        box-shadow: $close-shadow;
                    }
            
                    &:hover {
                        transform: scale(1.04);
                    }

                    @media (min-width: 768px) {
                        width: 20%;
                    }
                
                    @media (min-width: 1024px) {
                        width: 15%;
                    }
                }
            }
        }

        @media (min-width: 768px) {
            width: 70%;
        }
    
        @media (min-width: 1024px) {
            width: 50%;
        }
    }
  }

// -------------- Theme Selector ------------------ //  
.themes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    padding: 0.5em 0;

    #wrapper {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-content: center;
        background-color: #060b17;
        box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.7);
        margin: auto 0 auto 1em;
        padding: .2em;
        width: 4em;
        height: 1.6em;
        border-radius: 1.5em;

        #btn-selector {
            color: transparent;
            background-color: $primary-color;
            width: 40%;
            height: auto;
            border-radius: 2em;
            border: none;
            cursor: pointer;
            outline:none;
        }
        
    }

    h2 {
        color: $main-bg-color;
        text-transform: capitalize;
    }
}

.select-wrapper-dark {
    display: flex;
    flex-direction: row;
    justify-content: flex-end !important;
    align-content: center;
    background-color: $primary-color !important;
    margin: auto 0 auto 1em;
    padding: .2em;
    width: 4em;
    height: 1.6em;
    border-radius: 1.5em;
}
.selector-dark {
    background-color: #060b17 !important;
}